<div class="pb-20 mx-auto">

<div class="max-w-full md:max-w-4xl mx-auto bg-gray-800 border border-gray-700 rounded-md mb-4 px-4 md:px-[1em] py-4 md:py-[2em] mt-7">
  <div class="text-xl md:text-2xl lg:text-3xl font-bold md:pb-5">

<!-- 3 dots menu -->
 
 <% if current_user && current_user == @post.user %>
  <div class="relative inline-block float-right">
  <button class="peer hover:bg-gray-700 rounded-full outline-none">
<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-three-dots " viewBox="0 0 16 16">
  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
</svg>
</button>

<div class="absolute text-sm right-0 mt-2 opacity-0 invisible peer-focus:opacity-100 peer-focus:visible transition-all duration-200 bg-gray-800 rounded-lg shadow-[0_20px_40px_-1px_rgba(0,0,0,0.3)] w-48 z-10">
  <%= link_to "Edit Post", edit_post_path(@post), class: "block px-4 py-3 hover:bg-gray-700 border-b border-gray-700" %> 
  <%= button_to "Delete Post", post_path(@post), method: :delete,
  data: { confirm: "Are you sure you want to delete this post?" },
   class: "block w-full text-left px-4 py-3 hover:bg-gray-700" %> 
</div>
  
</div>

<% end %>
<%= @post.title %>

<!-- end -->

  </div>
  <div class="prose max-w-none text-sm md:text-base">
  
  <!-- Tags Display -->
  <div class="flex flex-wrap items-center gap-3 pb-8">
    <strong class="text-lg font-bold whitespace-nowrap">Tags:</strong>
  <div class="flex flex-wrap items-center gap-1">
    <% if @post.tags.any? %>
      <% @post.tags.each do |tag| %>
         <%= link_to tag.name, posts_path(tag: tag.name),
              class: "bg-blue-700 text-white px-3 py-1 rounded-full text-sm hover:bg-blue-600" %>
      <% end %>
    <% else %>
      <p class="text-gray-400">No tags yet</p>
    <% end %>
  </div>
</div>
    <%= @post.content %>
  </div>
</div>


</div>
<div class=" mt-15 px-4 md:px-8 lg:px-16">

<h1 class="max-w-full md:max-w-4xl mx-auto text-2xl font-bold text-sm md:text-base pb-5">Comments</h1>

<div class="max-w-full md:max-w-4xl mx-auto bg-gray-800 border border-gray-600 rounded-md  px-4 md:px-[0.5em] py-4 md:py-[1em] ">

<%= form_with model: [@post, @post.comments.build] do |form| %>
  
  <div class="bg-gray-800 border border-gray-600 rounded-md inline-block ">
  <%= form.text_field :content,
  class: "w-full px-6 py-3 pr-20 outline-none ",
    placeholder: "Add a comment" %>
    </div>
  <div class="actions bg-cyan-500 float-right mt-4 pt-1 pb-1 pr-10 pl-10 inline-block hover:bg-cyan-600 text-white font-medium rounded-full shadow transition duration-200">
  <%= form.submit "Comment" %>
  </div>

  <% if @post.comments.any? %>
    <% @comments.each do |comment| %>
      
      <div class="comment pt-6 relative">
        <p><%= comment.content%></p>

        <!-- three dots -->
        <% if current_user && current_user == comment.user %>
          <div class="absolute top-2 right-2 md:right-4">
          <button class="peer hover:bg-gray-700 rounded-full outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots " viewBox="0 0 16 16">
          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
        </svg>
        </button>
        </div>
        <% end %>


        
          
        </div>

        <div class="pt-2 text-sm text-gray-400 ">
            <div>
              <span><%= time_ago_in_words(comment.updated_at) %> ago</span>
              <% if comment.updated_at.present? && comment.updated_at > comment.created_at + 1.minute %>
                <span><%= time_ago_in_words(comment.updated_at) %> ago</span>

               
              <% end %>
              
            
               
              
          </div>
      </div>
    <% end %>
  <% else %>
    <p>No comments yet.</p>
  <% end %>
<% end %>



</div>
</div>
</div>