<div class="mb-20 mx-auto">

<div class="flex max-w-full md:max-w-5xl mx-auto bg-gray-800 border-gray-700 rounded-md mt-7">

<div class="flex-shrink-0 bg-gray-850 p-6 bg-gray-700 rounded-md">

<%= image_tag user_avatar(@post.user, 80), class: "mb-4" %>
<div class="text-xs md:text-sm font-medium text-gray-300 truncate text-center">
<%= @post.user.username %>

</div>
<span class="text-sm text-gray-300 truncate text-center block"> <%= time_ago_in_words(@post.created_at) %> ago </span>

</div>

<div class="md:pb-5 mb-4 px-4 md:px-[1em] py-4 md:py-[1em] min-w-0">

    <div class="flex justify-between items-start mb-4 pr-10">

    
 

    <h1 class="text-xl font-bold whitespace-normal break-words overflow-hidden">
    <%= @post.title %>
    </h1>
    <!-- 3 dots menu -->
    <div class="absolute top-28 right-17 md:right-17 inline-block">
    <% if current_user && current_user == @post.user %>
      <button class="peer hover:bg-gray-700 rounded-full outline-none ml-3 ">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-three-dots " viewBox="0 0 16 16">
      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
    </button>
    
    <div class="absolute text-sm right-0 top-5 mt-4 opacity-0 invisible peer-focus:opacity-100 peer-focus:visible transition-all duration-200 bg-gray-800 rounded-lg shadow-[0_20px_40px_-1px_rgba(0,0,0,0.3)] w-48 z-10">
      <%= link_to "Edit Post", edit_post_path(@post), class: "block px-4 py-3 hover:bg-gray-700 border-b border-gray-700 rounded-lg" %> 
      <%= button_to "Delete Post", post_path(@post), method: :delete,
      data: { confirm: "Are you sure you want to delete this post?" },
       class: "block w-full text-left px-4 py-3 hover:bg-gray-700 rounded-lg" %> 
    </div>
    </div>
        
    <% end %>
      
   
    <!-- end -->
    </div>
    <div class="prose max-w-none text-sm md:text-base">
    
    <!-- Tags Display -->
    <div class="flex flex-wrap items-center gap-3 pb-8">
      <strong class="text-lg font-bold whitespace-nowrap">Tags:</strong>
    <div class="flex flex-wrap items-center gap-1">
      <% if @post.tags.any? %>
        <% @post.tags.each do |tag| %>
          <%= link_to tag.name, posts_path(tag: tag.name),
                class: "bg-blue-700 text-white px-3 py-1 rounded-full text-sm hover:bg-blue-600" %>
        <% end %>
      <% else %>
        <p class="text-gray-400">No tags yet</p>
      <% end %>
    </div>
  </div>

  
  <div class="whitespace-normal break-words overflow-hidden">
  <%= @post.content %>
  </div>
    </div>
   
  </div>
  </div>

  </div>

  </div>

  
  <div class=" mt-15 px-4 md:px-8 lg:px-16 md:max-w-6xl">
<!--Comments section-->

<h1 class="max-w-full mx-auto text-2xl font-bold text-sm md:text-base pb-5">Comments</h1>

<div class="max-w-full mx-auto bg-gray-800 border border-gray-600 rounded-md  px-4 md:px-[0.5em] py-4 md:py-[1em] ">

<%= form_with model: [@post, @post.comments.build] do |form| %>

  <div class="bg-gray-800 border border-gray-600 rounded-md inline-block ">

  <%= form.text_area :content, 
   rows: 1,
   cols: 60,
   data: {
  controller: "textarea-autogrow"
  },
  class: "resize-none w-full px-6 py-3 outline-none overflow-hidden ",
    placeholder: "Add a comment" %>

    

    </div>

    <div class="actions bg-cyan-500 float-right mt-4 mb-1 mr-2 pt-1 pb-1 pr-10 pl-10 inline-block hover:bg-cyan-600 text-white font-medium rounded-full shadow transition duration-200">
  <%= form.submit "Comment" %>
  </div>
  <% end %>
  
  <div class="mt-3">
  <% if @post.comments.any? %>
    <% @comments.each do |comment| %>
      
      <%= image_tag user_avatar(comment.user, 40), class: "rounded-full float-left mt-3 mr-3" %>
      <div class="comment pt-5 relative">
      <div class=" flex pb-2">

      <p class="text-sm pr-2" > <%= comment.user.username %> </p>
      
      <div class="text-sm text-gray-400">   

      <span> • <%= time_ago_in_words(comment.updated_at) %> ago</span>
      <% if comment.updated_at.present? && comment.updated_at > comment.created_at + 1.minute %>
        <span> • <%= time_ago_in_words(comment.updated_at) %> ago</span>

       
      <% end %>
      </div>

</div>

        <p class="text-sm"><%= comment.content%></p>
        
        <!-- three dots -->
        <% if current_user && current_user == comment.user %>
          <div class="absolute top-2 right-2 md:right-4 inline-block">
          <button type="button" class="peer hover:bg-gray-700 rounded-full outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-three-dots " viewBox="0 0 16 16">
          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
        </svg>
        </button>

          <div class="peer absolute text-sm right-0 mt-2 opacity-0 invisible peer-focus:opacity-100 peer-focus:visible transition-all duration-200 bg-gray-800 rounded-lg shadow-[0_20px_40px_-1px_rgba(0,0,0,0.3)] w-48 z-10">
            
          <%= button_to "Delete Comment",
            post_comment_path(@post, comment), 
            data: { confirm: "Are you sure you want to delete this comment?" },
            class: "block w-full text-left px-4 py-2 text-sm hover:bg-red-50 dark:hover:bg-red-900/20 text-red-600 dark:text-red-400",
             method: :delete %>
          </div>

        </div>
        <% end %>

          
        </div>

        
    <% end %>
  <% else %>
    <p>No comments yet.</p>
<% end %>


</div>

</div>
</div>
</div>