<!DOCTYPE html>
<html">
  <head>
    <title><%= content_for(:title) || "Studyhub" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Studyhub">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  

      <body class="bg-gray-900 min-h-screen text-white">
        <header class="bg-gray-800 px-3 py-3 ring shadow-xl ring-gray-900/5">
      <h1 class="text-3xl sm:text-5xl font-bold text-white"><%= link_to "StudyHub", root_path %></h1>


 <div class="flex flex-grid sm:flex-row items-end sm:items-center gap-2 sm:gap-0 absolute top-3 right-4  gap-0 ">

  <% if user_signed_in? %>
 <%= link_to new_post_path, 
    class: "flex items-center gap-2 group " do %>
            <div class="bg-blue-700 hover:bg-blue-600 inline-block text-white font-medium py-2 px-4 rounded-full shadow transition duration-200 block md:hidden">

  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ">
  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
</svg>

  </div>
  <div class="hidden md:block">
  <span class="bg-blue-700 hover:bg-blue-600 inline-block text-white font-medium py-2 px-4 mr-3 rounded-full shadow transition duration-200 ">Create Post</span>
  </div>
<% end %>
<% end %>


 <% if user_signed_in? %>
<div class="relative inline-block">

  <%= image_tag user_avatar(current_user, 50), class: "rounded-full cursor-pointer peer md:flex", tabindex: "0" %>
      <div class="absolute text-sm right-0 mt-4 opacity-0 invisible peer-focus:opacity-100 peer-focus:visible transition-all duration-200 bg-gray-800 rounded-lg shadow-[0_20px_40px_-1px_rgba(0,0,0,0.3)] w-48 z-10" if user_avatar?>
      <!-- Hover menu -->
           <%= link_to "Profile", profile_path(current_user.username), class: "block w-full text-left px-4 py-3 hover:bg-gray-700 border-b border-gray-700 rounded-lg" %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "block w-full text-left px-4 py-3 hover:bg-gray-700 border-b border-gray-700 rounded-lg" %> 

      </div>
</div>

    <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "bg-blue-700 hover:bg-blue-600 inline-block text-white font-medium py-2 px-4 mr-3 rounded-full shadow transition duration-200" %> 
    <% end %>
     <%#<div class="text-sm ">Welcome <%= current_user.email</div>%> 
  </div>
    </div>



      <div class="md:hidden fixed bottom-4 right-4 z-50">
  <button id="mobile-menu-button" class="p-2 rounded-md bg-gray-800 text-white">
    <!-- Hamburger Icon -->
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
    </svg>
  </button>
</div>

      
  </header>


<% if !controller.class.name.start_with?('Devise::') %>
<div class="flex flex-grow ">
    <nav class="md:flex w-1/6 flex-col hidden p-4 sticky top-0 h-screen">
        <ul class="space-y-2">  <!-- space-y-2 adds vertical spacing between items -->
      <li>
        <%= link_to root_path, class: "flex items-center gap-3 pl-8 py-2 hover:bg-gray-700 rounded-md group" do %>
          <!-- Home Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
</svg>

          <span class="text-gray-300 group-hover:text-white">Home</span>
        <% end %>
      </li>
      <li>
        <%= link_to posts_path, class: "flex items-center gap-3 pl-8 py-2 hover:bg-gray-700 rounded-md group" do %>
          <!-- Posts Icon -->
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
</svg>

          <span class="text-gray-300 group-hover:text-white">All posts</span>
        <% end %>
      </li>
      </ul>
    </nav>
        <% end %>

  <main class="flex-1 mb-20 ">
  <div class=" mx-auto">
  <%= yield %>
  </div>
</main>
   
       
  </body>
</html>
